# Ignora dependências e builds
node_modules/
dist/
frontend/dist/
build/

# Ignora arquivos de log e cache do sistema
*.log
npm-debug.log
yarn-debug.log
yarn-error.log
.DS_Store
Thumbs.db
desktop.ini
.env

# Ignora configurações locais de IDE
.vscode/
.idea/
.sublime-workspace
.sublime-project

# Ignora arquivos compactados
*.zip
*.tar.gz
*.rar

# Ignora backups pesados e arquivos grandes
backups/
*.exe
*.dmg
*.app
*.snap
*.deb
*.rpm

# Git
.git

# Pets data stored locally
pets/
Assets/icons/*.png
Assets/Modes/mapa.png
Assets/Modes/Journeys/village.png
assets/tileset/tileset.png
assets/tileset/nest.png
Assets/Shop/chocolate.png
Assets/Shop/feather.png
Assets/Shop/finger.png
Assets/Shop/orbe.png
Assets/Shop/turtle_shell.png

# Hatching animations
Assets/Mons/evolution.mp4
Assets/Mons/evolution.gif

# Happiness icons
Assets/Shop/happy.png
Assets/Shop/smile.png
Assets/Shop/shy-smile.png
Assets/Shop/poker-face.png
Assets/Shop/sad.png

VM4*
