# Ignora dependências e builds
node_modules/
dist/

# Ignora arquivos de log e cache do sistema
*.log
.DS_Store
.env

# Ignora configurações locais de IDE
.vscode/

# Ignora arquivos compactados
*.zip
*.rar

# Ignora backups pesados e arquivos grandes
backups/
*.exe
